@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: theme('colors.primary');
    }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400; /* Regular weight */
    font-display: swap;
    src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400; /* Regular italic weight */
    font-display: swap;
    src: url('/fonts/Raleway/static/Raleway-Italic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700; /* Bold weight */
    font-display: swap;
    src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700; /* Bold italic weight */
    font-display: swap;
    src: url('/fonts/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
  }

  .active {
    border-bottom: 3px solid var(--primary-color);
    transition:0.05s all;
  }

  /* Add more weights and styles as needed */
  input:checked + div {
    @apply border-primary;
}
input:checked + div svg {
    @apply block;
}

.pricing-price span {
    font-variant-numeric: tabular-nums;
}

select {
    -webkit-appearance: none;
    appearance: none;
  }

  .select-complaint {
    background-image: url('/public/icons/Iconsax/Svg/All/linear/arrow-down.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
  }
}
